
ALTER procedure [dbo].[usp_studentmarks_select_all]
	@gender varchar(10),
	@branch varchar(15),
	@tot decimal(6,2),
	@average decimal(6,2),
	@grade varchar(20)

as

begin
	declare @qstr nvarchar(max)
	set @qstr = 
	'select 
	isnull(sid,0)as sid,
	isnull(sname,'''')as sname,
	isnull(gender,'''')as gender,
	isnull(branch,'''')as branch,
	isnull(s1,0)as s1,
	isnull(s2,0)as s2,
	isnull(s3,0)as s3,
	isnull(s4,0)as s4,
	isnull(s5,0)as s5,
	isnull(s6,0)as s6,
	isnull(tot,0)as tot,
	isnull(average,0)as average,
	isnull(grade,'''')as grade from studentmarks where 1=1'

	if @gender != null or @gender !=''
		begin
			set @qstr = @qstr + ' and gender = ' + '''' + @gender + ''''
		end
	if @branch !=null or @branch != ''
		begin
			set @qstr = @qstr + ' and branch = ' + '''' + @branch + ''''
		end
	if @tot > 400
		begin
            set @qstr = @qstr + ' and tot >= ' + convert(nvarchar(10), @tot)
        end
	if @average > 60
		begin
			set @qstr = @qstr + 'and average >=' + convert(nvarchar(10),@average)
		end
    if @grade!=null or @grade!=''
		begin
			set @qstr = @qstr+ 'and grade =' + ''''+@grade + ''''
		end
		exec sp_executesql @qstr

 end 




 --execute usp_studentmarks_select_all 'male','cse',null,null,null
 --execute usp_studentmarks_select_all null,null,415,null,null