USE [Sanketh_DB]
GO
/****** Object:  StoredProcedure [dbo].[usp_emptable_insert]    Script Date: 25-03-2026 19:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--stored procedure to insert rows to the table
--emptable

ALTER procedure [dbo].[usp_emptable_insert]

	@empname varchar(50),
	@gender varchar(10),
	@designation varchar(50),
	@place varchar(25),
	@salary numeric(8,2),
	@bon numeric(8,2),
	@hra numeric(10,2),
	@cca numeric(10,2)

as

begin
	
	declare
		@bonus numeric(8,2),
		@vhra numeric(10,2),
		@vcca numeric(10,2),
		@retval int

	set @retval = 0

	begin transaction

		set @bonus = @salary  * (@bon/100.0)
		set @vhra = @salary * (@hra/100.0)
		set @vcca = @salary * (@cca/100.0)

		insert into emptable5 
		values
		(
			@empname,
			@gender,
			@designation,
			@place,
			@salary,
			@bonus,
			@vhra,
			@vcca
		)
		if @@error<>0
		begin
			rollback
			set @retval = 1
		end
		else
		begin
			commit transaction
			set @retval = 0
		end

		select @retval

end

---execute usp_emptable_insert



--select * from emptable5